.main {
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(42, 47, 55, 0.1);
  padding-bottom: 32px;
}

h1 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgba(44, 45, 46, 1);
}

p {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(44, 45, 46, 0.6);
}

.block_search {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
  margin: 0px;
}

.user_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px;
}

.user_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 28px 24px;
  width: 867px;
  &_title {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: rgba(44, 45, 46, 1);
    width: 254px;
  }
  &_category {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(44, 45, 46, 1);
    width: 178px;
  }
  &_data {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(44, 45, 46, 1);
    width: 179px;
  }
  &_publication {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(44, 45, 46, 1);
    width: 90px;
  }
  &_edit {
    display: flex;
    color: rgba(44, 45, 46, 0.4);
    width: 72px;
    width: 48px;
  }
}

.product_filtr {
  display: flex;
  height: 40px;
  width: 100%;
  max-width: 867px;
  background-color: #ffffff;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  &_name {
    display: flex;
    margin-left: 24px;
    font-feature-settings: 'pnum' on, 'inum' on;
  }
  &_category {
    display: flex;
  }
  &_data {
    display: flex;
  }
  &_publicate {
    display: flex;
    margin-right: 92px;
  }
}
