.section_wrapper {
  font-family: 'Jost';
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 47, 55, 0.02);
}

.page_wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  width: 100%;
  min-width: 1170px;
  margin: 0 auto;
}

.content_wrapper {
  padding: 40px 0px 40px 40px;
  width: 867px;
}
