.user_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user_card {
  border: 1px solid rgb(69, 189, 240);
  background-color: rgba(69, 189, 240, 0.552);
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px  10px 10px 0 #ccc;
}
