.user_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user_card {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid rgb(105, 105, 105);
  background-color: rgba(28, 202, 12, 0.552);
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 10px  10px 10px 0 #ccc;
}
